<nav class="navbar">
  <div class="container">
    <h2>FixAll</h2>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/notice">Notice</a></li>
      <li><a href="/fixalltradelink">FixAllTradelink</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
